* {
  border: none;
  border-radius: 0;
  font-size: 9px;
  font-family: sans;
  padding: 0px;
  min-height: 0;
  min-width: 0;
}
window {
  background-color: rgba(0,0,0,0);
}
#waybar.fullscreen {
  opacity: 0;
}
box {
  padding-left: 1px;
  padding-right: 1px;
}

#workspaces button.empty {
    /* color: dimgray; */
    color: gray;
}
#workspaces button.active {
    box-shadow: inset 0px -1000px 4px -1000px /*1*/rgb(29, 148, 176);
}

#window,
#workspaces button,
#battery,
#clock,
#tray {
    /* color: lightgray; */
    color: AliceBlue;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 2px;
    padding-right: 2px;
}

#battery {
  background-color: /*2*/rgb(129,108,150);
}
@keyframes warn {
    to {
      color: #f53c3c;
    }
}
#battery.critical:not(.charging) {
    animation-name: warn;
    animation-duration: 0.25s;
    animation-timing-function: steps(10);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#clock {
  background-color: /*3*/rgb(29, 148, 176);
}

#custom-sep1 {
  color: /*2*/rgb(129,108,150);
  font-size:12.45px;
}
#custom-sep2 {
  color: /*3*/rgb(29, 148, 176);
  background-color: /*2*/rgb(129,108,150);
  font-size:12.35px;
}
