#webrtcIndicator {
  display: none;
}
#back-button,#forward-button {
  display: none;
}
#new-tab-button .toolbarbutton-icon,#tabs-newtab-button .toolbarbutton-icon{
  display: none;
}
.titlebar-spacer{
  display: none;
}
#tabbrowser-arrowscrollbox-periphery{
  flex-grow: 1;
}
#tabs-newtab-button{
  width: 100%;
}
.titlebar-buttonbox-container{
  display: none;
}
#nav-bar{
  box-shadow: none !important;
  border-top: 0px !important;
}
#navigator-toolbox,#sidebar-header{
  border-bottom: 0px !important;
}

#sidebar-box,#sidebar-splitter,#browser,#main-window,#navigator-toolbox{
  background: #0000 !important;
  border: 0px !important;
}
.urlbar-background{
  opacity: 0.9;
}
.urlbar:not([focused]) .urlbar-background {
  opacity: 0 !important;
}

#sidebar-search-container{
  display: none;
}
:root {
  --sidebar-background-color: transparent !important;
}

:root {
    --tab-group-color-blue: var(--color-blue-70) !important;
    --tab-group-color-blue-pale: var(--color-blue-110) !important;
    --tab-group-color-purple: var(--color-purple-70) !important;
    --tab-group-color-purple-pale: var(--color-purple-110) !important;
    --tab-group-color-cyan: var(--color-cyan-70) !important;
    --tab-group-color-cyan-pale: var(--color-cyan-110) !important;
    --tab-group-color-orange: var(--color-orange-70) !important;
    --tab-group-color-orange-pale: var(--color-orange-110) !important;
    --tab-group-color-yellow: var(--color-yellow-70) !important;
    --tab-group-color-yellow-pale: var(--color-yellow-110) !important;
    --tab-group-color-pink: var(--color-pink-70) !important;
    --tab-group-color-pink-pale: var(--color-pink-110) !important;
    --tab-group-color-green: var(--color-green-70) !important;
    --tab-group-color-green-pale: var(--color-green-110) !important;
    --tab-group-color-red: var(--color-red-70) !important;
    --tab-group-color-red-pale: var(--color-red-110) !important;
    --tab-group-color-gray: #5e6a77 !important;
    --tab-group-color-gray-pale: var(--color-gray-100) !important;
}

/* TODO:understand what this snipet of code does*/
:root {
  --uc-urlbar-width: clamp(200px, 65vw, 527px);
}
@media (min-width: 800px) {
  #TabsToolbar { margin-right: var(--uc-urlbar-width) !important; }
  #nav-bar {
    margin: calc((var(--urlbar-min-height) * -1) - 8px) 0 0 calc(100vw - var(--uc-urlbar-width) - 2px) !important;
  }

/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/overlay_fullscreen_toolbars.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */

/* Makes toolbars appear as overlay instead of pushing down the website in fullscreen mode */

@media (-moz-bool-pref: "browser.fullscreen.autohide"),
       -moz-pref("browser.fullscreen.autohide"){
  :root{
    --uc-fullscreen-overlay-duration: 0;
    --uc-fullscreen-overlay-delay: 500ms;
  }
  :root[sizemode="fullscreen"]{
    &[sessionrestored]{
      #urlbar[popover]{
        pointer-events: none;
        opacity: 0;
        transition: transform var(--uc-fullscreen-overlay-duration) ease-in-out var(--uc-fullscreen-overlay-delay), opacity 0ms calc(var(--uc-fullscreen-overlay-delay) + 82ms);
        transform: translateY(calc(0px - var(--tab-min-height) - (var(--tab-block-margin) * 2) - var(--urlbar-container-height)));
      }
    }
    #navigator-toolbox{
      position: fixed !important;
      width: 100vw;
      z-index: 10 !important;
      transition: transform var(--uc-fullscreen-overlay-duration) ease-in-out var(--uc-fullscreen-overlay-delay) !important;
      margin-top: 0 !important;
      transform: translateY(-100%);
    }
    #navigator-toolbox:is(:hover,:focus-within,[style=""]),
    #mainPopupSet:has(> [panelopen]:not(#ask-chat-shortcuts,#selection-shortcut-action-panel,#chat-shortcuts-options-panel,#tab-preview-panel)) ~ #navigator-toolbox{
      transition-delay: 0ms !important;
      transform: translateY(0);
    }
    #mainPopupSet:has(> [panelopen]:not(#ask-chat-shortcuts,#selection-shortcut-action-panel,#chat-shortcuts-options-panel,#tab-preview-panel)) ~ toolbox #urlbar[popover],
    #navigator-toolbox:is(:hover,:focus-within,[style=""]) #urlbar[popover],
    #urlbar-container > #urlbar[popover]:is([focused],[open]){
      pointer-events: auto;
      opacity: 1;
      transition-delay: 0ms;
      transform: translateY(0);
    }
  }
}
