@-moz-document url("about:home"), url("about:newtab"), url("chrome://browser/content/blanktab.html") {
 html {
    height: 100% !important;
    width: 100% !important;
  }
 body {
    /* NOTE: there is some kind of rule which requires IMAGE and CONFIG to be in the ~/.config or ~/.mozilla/.../chrome directory */

    background: url("file:///home/user/.config/background") !important;

    background-size: cover !important;
    background-position: center !important;
  }
}
