@-moz-document url("about:home"), url("about:newtab"), url("chrome://browser/content/blanktab.html") {
 html {
    height: 100% !important;
    width: 100% !important;
  }
 body {
    background: url("file:///home/user/.config/backgrounds/wallpapers/Firefox_wallpaper.png") !important;
    background-size: cover !important;
    background-position: center !important;
  }
}
